<?xml version="1.0" encoding="utf-8" ?>
<RimworldModOrginiser>
  <RMOProfiles>
    <Profile>
      <RimworldFolder>C:\Games\RimWorldAlpha12dWin\RimWorld914Win</RimworldFolder>
      <ConfigFolder>C:\Games\RimWorld1123WinDev\SaveData</ConfigFolder>
    </Profile>
    <Profile>
      <RimworldFolder>C:\Games\RimWorldAlpha12dWin\V2</RimworldFolder>
      <ConfigFolder>C:\Games\RimWorld1123WinDev\V2</ConfigFolder>
  </Profile>
    <Profile>
      <RimworldFolder>C:\Games\RimWorld1135Win</RimworldFolder>
      <ConfigFolder>C:\Games\RimWorld1135Win\SaveData</ConfigFolder>
    </Profile>
  </RMOProfiles>
</RimworldModOrginiser>